<%- include('../partials/header') %>

<section id="show-page">
  <div>Full Name: </div>
  <div><%= user.name %></div>
  <div>Age: </div>
  <div><%= user.age %></div>
  <div>Event: </div>
  <div><%= user.event %></div>
</section>

<% if(user.workouts.length) {%>
	<table>
		<thead>
		<tr>
			<th> Date </th>
			<th> Miles </th>
			<th> Time </th>
			<th> Pace </th>
		</tr>
		</thead>
		<tbody>
			<% user.workouts.forEach(workout =>{%>
				<tr>
					<td><%= workout.date.toLocaleDateString() + " " + workout.date.toLocaleTimeString() %></td>
					<td><%= workout.miles %></td>
					<td><%= workout.time %></td>
					<td><%= workout.pace %></td>
				</tr>
			<%}) %>
		</tbody>
	</table>
<%}else {%>
	<h5>No workouts Yet</h5>
<%}%>

<a href="/users/<%=user._id%>/workouts/new">Add Workout</a>

<table>
    <thead>
    <tr>
        <th> Average Miles </th>
        <th> Average Time </th>
        <th> Average Pace </th>
    </tr>
    </thead>
    <tbody>
            <tr>
				<td><%=`${avgMiles} miles`%></td>
				<td><%=avgTime%></td>
				<td><%=`${avgPace}/mile`%></td>
            </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>